:root {
    --primary-color: hsl(250, 18%, 19%);
    --secondary-color: hsla(220.33,100%,92.67%,1);
    --tertiary-color: hsla(252,100%,86%,100%);
    --quaternary-color: #55505C;
    --hover-color: #4e616b;
    --shadow-color:rgba(57, 127, 93, 0.4);
    --lilac5:hsla(252,92.86%,75.39%,1);
    --font-style: 'Questrial';
  }
  
  body {
    font-family: var(--font-style), 'Ranchers', cursive;
    background-color: var(--secondary-color);
    width: 100vw;
    height: 100vh;
    justify-content: center;
    align-items: center;
  }
  
  h2 {
    font-size: 3.5rem;
    text-align: center;
    color: var(--primary-color);
    text-shadow: 4px 4px 0 #fff;
  }
  
  .mt30 {
    margin-top: 30px;
  }
  
  .header {
    padding: 15px;
  }
  
  .main {
    display: flex;
    justify-content: center;
  }
  
  .settings {
  
    z-index: 1;
  }
  
  .final {
    visibility: hidden;
    z-index: 2;
  }
  
  .final p {
    font-size: 30px;
    text-align: center;
  }
  
  .final h4 {
    font-size: 33px;
    text-align: center;
  }
  
  .quiz  {
    visibility: hidden;
    z-index: 0;
  }
  
  #questions {
    font-size: 20px;
    font-family: var(--font-style), 'Ranchers', cursive;
    font-weight: 600;
    line-height: 1.3;
    color: var(--primary-color);
    background-color: hsl(221deg 100% 93%);
    appearance: none;
    border: none;
    padding: 5px;
    border-radius: 5px;
    margin-left: 20px;
    outline: none;
    text-align: center;
    width: 60%;
  }
  .settings select {
    font-size: 20px;
    font-family: var(--font-style), 'Ranchers', cursive;
    font-weight: 600;
    line-height: 1.3;
    letter-spacing: 1px;
    color: var(--primary-color);
    background-color:hsl(221deg 100% 93%) ;
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    border: none;
    padding: 5px;
    border-radius: 5px;
    margin-left: 20px;
    outline: none;
    text-align: center;
    width: 60%;
  }
  
  .settings select::-ms-expand {
    display: none;
  }
  
  .settings select:hover {
    border-color: var(--hover-color);
  }
  
  .settings select:focus {
    border-color: var(--hover-color);
  }
  
  .settings select option {
    /* font-weight: bolder; */
    font-family: var(--font-style), 'Ranchers', sans-serif;
  }
  
  .settings label {
    font-size: 25px;
    margin-right: 16px;
    width: 32%;
    display: inline-flex;
}
  
  
  .quiz, .settings, .final {
    position: absolute;
    padding: 0px 35px 35px 35px;
    max-width: 630px;
    width: 70vw;
    background-color: #fff;
    border-radius: 7px;
    -webkit-box-shadow: 10px 10px 3px -4px var(--shadow-color);
    -moz-box-shadow: 10px 10px 3px -4px var(--shadow-color);
    box-shadow: 10px 10px 5px -4px var(--shadow-color);
    border: 1px solid #6492f257;
  }
  
  h3 {
    display: block;
    width: 550px;
    font-size: 35px;
    font-weight: 350;
    word-wrap: break-word;
  }
  
  .submit {
    width: 100%;
    color: white;
    background-color: hsl(248, 100%, 60.4%);
    font-family: var(--font-style), 'Ranchers', cursive;
    outline: none;
    border: none;
    height: 50px;
    font-size: 1.8rem;
    margin-top: 20px;
    border-radius: 5px;
    letter-spacing: 2px;
  }
  
  .submit:hover {
    box-shadow: 0px 2px 40px 0px rgb(0 0 0 / 30%);
    cursor: pointer;
  }
  
  /* The container */
  .count {
    display: block;
    left: 75%;
    position: relative;
    padding-left: 35px;
    margin-bottom: 100px;
    cursor: pointer;
  }
  
  .count p {
    position: absolute;
    font-size: 35px;
    
  }
  
  .total {
    margin-left: 50px;
  }
  
  /* The container */
  .container {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 25px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  
  /* Hide the browser's default radio button */
  .container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
  }
  
  /* Create a custom radio button */
  .checkmark {
    position: absolute;
    top: -2px;
    left: 0px;
    height: 25px;
    width: 25px;
    background-color: white;
    border-radius: 30%;
    border: 1px solid #dae6ff;
  }
  
  /* On mouse-over, add a grey background color */
  .container:hover input ~ .checkmark {
    background-color: #FAF33E;
  }
  
  /* When the radio button is checked, add a blue background */
  .container input:checked ~ .checkmark {
    background-color: var(--quaternary-color);
  }
  
  /* Create the indicator (the dot/circle - hidden when not checked) */
  .checkmark:after {
    content: "";
    position: absolute;
    display: none;
  }
  
  /* Show the indicator (dot/circle) when checked */
  .container input:checked ~ .checkmark:after {
    display: block;
  }
  svg {
    transition: none .2s cubic-bezier(.165,.84,.44,1);
    transition-property: background-color,border-color,color,fill,stroke,opacity,box-shadow,transform;
    fill: var(--lilac5);
    position: absolute;
}